@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}
}
body {
    animation: fadeIn 1s ease-out;
    background-color: rgb(33, 32, 32);
    color: rgb(213, 209, 209);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding: 40px;
}

* {
    padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
    color: #60a5fa;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.info {
 display: flex;
 justify-content: center;
 gap: 20px;
 flex-wrap: wrap;
 margin-bottom: 50px;
}

.info p {
    background-color: #2d2d2d;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #444;   
}
 
.info p:hover {
    background-color: #3b82f6;
    border-color: #60a5fa;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card {
 background-color: rgb(43, 42, 41);
 padding: 15px 20px;
 margin-bottom: 20px;
border-radius: 20px;
}

.contactFlex {
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 40px;
    border-radius: 15px;
    margin: 0 20px;
}

.contactFlex span {
color: #888;
font-size: 0.9em;
}
.me {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
