@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}     
}


html {
    scroll-behavior: smooth !important;
    height: 100%;
}

body {
    min-width: 100%;
    overflow-x: hidden;
    animation: fadeIn 1s ease-out;
    background-color: #F5F5F5;
    color: #39393C;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

* {
    padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
    color: #60a5fa;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    min-height: 45px;
    height: auto;
    padding: 20px 5%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.info p {
    background-color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #444;   
}
 
.info p:hover {
    background-color: #3b82f6;
    border-color: #60a5fa;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.contactFlex {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;     
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    margin: 60px 20px 20px 20px;   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);      
}

.contactFlex a {
    color: #60a5fa;         
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.contactFlex a:hover {
    color: #3871A7;
    border-bottom: 1px solid #ffffff;
}

.contactFlex p {
    color: #3871A7;
    font-size: 16px;       
    font-weight: bold;
    transition: 0.3s;
}

.contactFlex span {
    color: #888;
    font-size: 0.9em;
}
.me {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

h1 {
    color: #3871A7;
    font-weight: bold;
}

.me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 80px 10%;
    min-height: 80vh;
    background-color: transparent;
}

.hero-content, .hero-image {
 animation: fadeInUp 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);   
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
    display: block;
}

.hero-image {
    width: 393px;
    max-width: 400px;
    height: auto;
    aspect-ratio: 393 / 350;
    position: relative;
    margin: 0 auto;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

.hero-image::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border: 2px solid #3871A7;
    border-radius: 24px;
    z-index: -1;
    box-sizing: border-box;
} 

.hero-content {
    max-width: 50%;
    text-align: left;
}

.buttons-row {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btn-primary {
    background-color: #3871A7;
    color: #F5F5F5;
    padding: 12px 75px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    
}

.btn-secondary {
    background-color: #FFFFFF;
    padding: 12px 25px;
    border: 1px solid #3871A7;
    border-radius: 8px;
    color: #3871A7;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #3871A7;
    color: #60a5fa;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(56, 113, 167, 0.3);
}

.footer {
    background-color: transparent;
    border-top: 1px solid #e0e0e0;
    color: #333;
    padding: 40px 10%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.info p,
.info .github-card {
    height: 46px;
    min-width: 150px;
    background-color: #F5F5F5;
    color: #2d2d2d !important;
    border-radius: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    min-width: 160px;
    border: 1px solid #444; 
}

.github-card:hover {
    background-color: #3b82f6 !important;
    border-color: #60a5fa;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.fa-brands {
  margin-top: 0 px;
  font-size: 1.2em;
}

@media (max-width: 768px) {
    .me {
        flex-direction: column-reverse; 
        text-align: center;
        padding: 40px 5%;
        min-height: auto;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .buttons-row {
        justify-content: center;
        flex-direction: column;     
    }
}   

@media (max-width: 768px) {
    .contactFlex {
        flex-direction: column; 
        gap: 15px;              
        text-align: center;
        padding: 20px;
    }
}